html {
    text-align: center;
}

#home {
    text-align:center;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    height: 815px;
}
#home img {
    width: 30%;
        height:60%
}

h2 {
    text-align: center;
}

.announcement {
    background-color: skyblue;
}

h1 {
    font-size: 50px;
        font-weight: bold;
    margin-top: 75px;
}


#map iframe
{
    width: 100%;
    float: left;
    padding-top: 5px;
}


input
{
    background: grey
}

.announcement{
background-color:#337ab7;
width: 100%;
height: 30px;
}

#marqueeStyle{
  width:100%;
  direction:right;
  height:100px;
  color: beige;
  font-size:120%;
}

#video{
  width:75%;
  height:500px;
  margin-top: 15px;
}


.details {
    margin-top: 50px
}

html {
 scroll-behavior: smooth;
}

#map iframe
{
    width: 50%;
    float: left;
    padding-top: 5px;
}

.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}

#footer{
  height: 20px;
  background-color:white;
  }

input
{
    background: grey
}

.announcement{
background-color:#337ab7;
width: 100%;
height: 30px;
}

#marqueeStyle{
  width:100%;
  direction:right;
  height:100px;
  color: beige;
  font-size:120%;
}

#video{
  width:100%;
  height:500px;
  border: none;
}


.travel_mainDiv
{
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #c7c7c7;
}

.travel_mainDiv img
{
  width: 100%;
  height:300px;
} 

.travel_mainDiv hr
{
    width: 100%; 
}

.travel_mainDiv h5 , .travel_mainDiv p
{
margin-left: 20px;
}


#achievementsID{
 padding-bottom: 10px;
}

.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i
{
float: right;
}

.movie_text span
{
color: #ff7700;
}

.environment_li
{
  margin-top: 13px;
}

.environment_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img
{
  border-radius: 25px;
  height: 250px;
}

.environment_li p
{
  margin-top:10px;
}

.header_entrepreneur
{
  line-height: 2;
}

.book
{
  cursor: pointer;
}

.book hr
{
  margin-bottom: 10px;
}

